.mainContainer{
    position: fixed;
    transform: translate(-50% -50%);
    top: 5%;
    left: 19%;
    z-index: 999;
    width: 62%;
    height: 90%;
    background-color: #632c33;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 0 .5rem;
}

.closeWrapper{
    width: max-content;
    border: 1px solid black;
    position: absolute;
    right: .5rem;
    margin-top: .2rem;
}

.closeWrapper p:hover{
    color: red;
    cursor: pointer;
}

.headerWrapper{
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.booksContainer{
    border: 1px solid black;
    padding: .5rem .5rem;
    display: flex;
    column-gap: .5rem;
    width: max-content;
    margin-top: 1rem;
}

.dateWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;    
}

.dateWrapper p span{
    color: white;
    margin-left: .5rem;
}