.mainContainer{
    padding: 1rem;
}

.booksOutWrapper{
    margin: 1rem 0 .2rem 0;
    background-color: #bc4749;
    width: max-content;
    font-size: 1.2rem;
    padding: .5rem;
    color: white;
    cursor: pointer;
}

.booksOutWrapper:hover{
    color: black;
}

.mainContainer form {
    display: grid;
    grid-template-columns: 40% 40% 1fr;
    position: relative;
    column-gap: 2rem;
    background-color: #344e41;
    color: white;
    padding: 1rem;
}

.mainContainer form select{
    width: 10rem;
}

.firstSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.checkButtons {
    grid-area: 2 / span 3;
    margin-top: 2rem;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-right: 15rem; /* Right margin for space */
    align-self: center; /* Center the container vertically in its grid cell */
}

.checkButtons button{
    width: 14rem;
    height: 2rem;
    margin: auto;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.checkButtons button:first-child:hover{
    background-color: green;
    border: none;
    border-radius: 10rem;
    color: white;
}

.checkButtons button:last-child:hover{
    background-color: #bc4749;
    border: none;
    border-radius: 10rem;
    color: white;
}

select {
    margin-left: .5rem;
}

.isbnAuthorGereWrapper{
    color: white;
}

.isbnAuthorGereWrapper p,
.publishCheckOutDateWrapper p,
.firstSection label{
    color: black;
}

.isbnAuthorGereWrapper p span,
.publishCheckOutDateWrapper span{
    color: white;
    margin-left: .5rem;
}