.borrowMainContainer,
.profileboxMainContainer,
.myCollectionMainContainer{
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(7, 13, 15, 0.5);
}

.borrowingHeader h2{
    display: flex;
    column-gap: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.CheckOutHoldFeesWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.CheckOutHoldFeesWrapper div{
    display: flex;
    width: 100%;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;    
}

.CheckOutHoldFeesWrapper div span{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.CheckOutHoldFeesWrapper div:hover,
.laterProgressCompletedWrapper h3:hover{
    background-color: rgb(60, 123, 142);
    cursor: pointer;
}

.laterProgressCompletedWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 1rem 0 3rem;
    margin-top: 1rem;
}

.laterProgressCompletedWrapper a{
    color: black;
}

.laterProgressCompletedWrapper h3{
    display: flex;
    justify-content: space-between;
}

.username:hover{
    cursor: pointer;
    text-decoration: underline;
}

.getStarded{
    display: flex;
    align-items: center;
    column-gap: .5rem;  
}

.getStarded:hover{
    text-decoration: underline;
    cursor: pointer;
    color:rgb(60, 123, 142) ;
}



@media(250px <= width <= 650px) {

    .myCollectionMainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .CheckOutHoldFeesWrapper div p{
        font-size: 1rem;
    }

    .CheckOutHoldFeesWrapper div span{
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-size: 1.2rem;
    }

    .myCollectionMainContainer > :first-child h2{
        font-size: 1.2rem;
    }

    .laterProgressCompletedWrapper h3{
        font-size: .9rem;
        margin-left: -3rem;
    }

    .myCollectionMainContainer > :nth-child(3) p,
    .myCollectionMainContainer > :nth-child(5) p{
        word-wrap: break-word;
    }
}

@media(250px <= width <= 540px) {
    .borrowingHeader h2{
        font-size: 1rem;
    }
}
