.mainContainer{
    display: flex;
    flex-direction: column;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    height: 24rem;
    background-color: rgb(60, 123, 142);
    position: relative;
    color: black;
}

.headerWrapper{
    margin: auto;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.profilePicWrapper{
    border-radius: 50%;
    height: 9rem;
}

.mainUsernameWrapper {
    font-size: 3rem;
    color: #720026;

}

.usernameAndFollowersContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10rem;
    margin-bottom: .5rem;
}

.usernameWrapper{
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: space-evenly;
    row-gap: .5rem;    

}

.followerAndFollowingWrapper{
    row-gap: .5rem;
    display: flex;
    flex-direction: column;
}

.usernameWrapper p{
    font-size:1rem ;
}

.usernameWrapper div p{
    font-size: 1.5rem;
    color: white

}

.firstNameAndLastnameWrapper{
    display: flex;
    justify-content: space-between;
}

.numberOfFollowersAndFollowing{
    color: white;
    font-size: 1.2rem;
}

.numberOfFollowersAndFollowing,
.followersAndFollowing{
    display: flex;
    width: 15rem;
    justify-content: space-around;
    
}

.secondMainContainerHeader{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    column-gap: 1rem;
    width: 100%;
}

.moreInofAndDropDownWrapper{
    width: 20%;
    z-index: 999;
}

.secondHeaderWrapper p {
    font-size: 2.5rem;
}

.moreInfoAndEditContainer{
    display: flex;
    width: 23rem;
    align-items: flex-end;
    padding: 1rem;
    position: relative;
}

.moreInofAndDropDownWrapper div:first-child:hover {
    text-decoration: underline;
}

.moreInfoWrapper {
    display: none;
    color: #720026;
}

.showMoreInfoWrapper {
    display: block;
    margin-top: .3rem;
    animation: visibleInfo 500ms ease-in-out 1 normal forwards;
}

@keyframes visibleInfo {
    0% { margin-top: -1rem; opacity: 0; }
    100% { margin-top: 0; opacity: 1; }
}


.showMoreInfoWrapper ul li{
    list-style: none;
    color: black;
    background-color: rgb(212, 228, 223);
    padding: 0 1rem;
    line-height: 1.5rem;
    cursor: pointer;
    margin: .5rem;
    width: max-content;
}

.editIconWrapper{
    display: flex;
    column-gap: 1rem;
    font-size: 1.5rem;
    width: max-content;
    position: absolute;
    right: 0;
}

.editIconWrapper div{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editIconWrapper div:hover{
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(24, 78, 119);
    color: white;
    cursor: pointer;
    transition: all 500ms ease-in-out;

}

.lastSectionContainer{
    display: grid;
    grid-template-columns: 30% 60%;
    border: 2px solid rgb(24, 78, 119);
    gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    justify-content: space-around;
}

.messageWrapper{
    position: relative;
}

.messageWrapper span{
    position: absolute;
    color: #720026;
    top: -.9rem;
    right: 0rem;
}

.bellIcon {
    transition: transform 1s ease-in-out; /* Adjust duration as needed */
    animation: bellShake 500ms ease-in-out infinite alternate; /* Adjust duration as needed */
}

@keyframes bellShake {
    0% { transform: rotateZ(-10deg); } /* Adjust angle as needed */
    100% { transform: rotateZ(10deg); } /* Adjust angle as needed */
}

.lastSectionSideBarContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.shelfReviewAndIdeaContainer{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}




@media(300px <= width <= 750px) {
    .firstNameAndLastnameWrapper {
        display: none;
    }

    .mainUsernameWrapper{
        font-size: 1.5rem;
    }
}

@media(250px <= width <= 490px) {
    .usernameAndFollowersContainer{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    .usernameWrapper{
        display: flex;
        align-items: center;
    }

    .moreInfoAndEditContainer{
        position: relative;
    }

    .editIconWrapper{
        position: absolute;
        bottom: 0;
        width: max-content;
        right: 0;
        font-size: .9rem;
    }

    .showMoreInfoWrapper ul li{
        font-size: .7rem;
        padding: 0;
    }
}