
.heroSection {
    width: 100%;
    height: 100%;
}

.imageSliderImage{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 900ms ease-in-out;
}

.mainContainer{
    margin-top: 1rem;
    padding: 0 7rem;
    width: 100%;
    height: 40rem;
}

.headerAndTimeContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom:2px solid #168aad;
    margin-bottom: 1rem;
    padding: .2rem 0;
}

.weeklybookContainer{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height:85%;
}


.weeklybookWrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    border-right: 2px solid #168aad;
    height: 85%;

}

.weeklybookWrapper > :first-child{
    border: 2px solid rgb(20, 13, 1);
    height: 85%;
}

.weeklybookWrapper > :first-child img{
    width: 100%;
    height: 100%;
}


.bookDiscriptions{
    margin: 0 1rem;

}

.bookDiscriptions p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.bookDiscriptions p span{
    color: #00a6fb;
}

.bookAuthorAndRatingsWrapper{
    display: flex;
    font-size: 1.9;
}

.bookAuthorAndRatingsWrapper span{
    color: #00a6fb;
}

.bookSummeryWrapper{
    height: 20rem;
    margin-top: .5rem;
    overflow: hidden;
    font-size: 1.3rem;
}

.bookSummeryWrapper div{
    display: flex;
    flex-wrap: wrap;
}

.stafflistWrapper{
    width: 80%;
}

.stafflistWrapper h2{
    text-align: center;
    width: 100%;
    margin-left: 2rem;
    border-bottom: 1px solid #00a6fb;
}

.stafflistbookWrapper{
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.joinSection{
    margin: 5rem 0;
    height: 30rem;
    display: grid;
    grid-template-columns: 80% 15%;
    position: relative;
}

.joinSection > :first-child {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(50% 50%);   
}

.joinSection > :first-child img{
    width: 60%;
    height: 100%;
}

.joinSection > :nth-child(2) {
    height: 20rem;
    align-self: center;
    position: absolute;
    right: 0;
}

.joinSection > :nth-child(2) img{
    width: 100%;
    height: 100%;
}

.joinWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.joinWrapper h2{
    font-size: 2rem;
    color: #00a6fb;
}

.joinWrapper button{
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    font-size: 2rem;
    background-color: #168aad;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}

.joinWrapper button:hover{
    color: white;
}

.followUsersContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
    padding-right: .5rem;
}

.followWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7rem;
    gap: 1rem;
}

.followWrapper h2{
    font-size: 2rem;
    color: #00a6fb;
}

.followWrapper p{
    font-size: 1.2rem;
}

.followersExampleWrapper{
    background-color: #e9ecef;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 1rem 0;
}

.follower{
    background-color: white;
    display: flex;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: 2rem;
}

.userImageAndName{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user{
    width: 50%;
    height: 100%;
    column-gap: .5rem;
    display: flex;
    align-items: center;
}


@media(500px <= width <= 1134px) {
    .joinSection > :nth-child(2) {
        width: 10rem;
        height: 10rem;
        margin-left: 3rem;
    }
    
    .joinSection > :nth-child(2) img{
        width: 100%;
        height: 100%;
    }

}

@media(300px <= width <= 900px) {

    .mainContainer{
        padding: 0 1rem;
    }

    .stafflistWrapper{
        display: none;
    }

    .weeklybookWrapper{
        border-right: none;    
    }

    .followWrapper h2{
        font-size: 1.3rem;
    }

    .followWrapper p{
        font-size: .8rem;
    }

    .followWrapper{
        display: flex;
        margin-left: -5rem;
    }

    .joinSection{
        margin-top: -5rem;
    }

    .joinWrapper button{
        width: 4rem;
        font-size: 1rem;
    }

    .bookSummeryWrapper{
        font-size: 1rem;
    }

   
    .joinSection > :nth-child(2){
        width: 20%;
        height: 20%;
    }

    .followUsersContainer{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

