.mainContainer{
    border: 1px solid black;
    width: 20rem;
    height: max-content;
    background-color: #f9f7f7;
    z-index: 99999;
    position: absolute;
    top: 46rem;
    right: 2rem;
}

.headerWrapper{
    padding-left: .5rem;
    border-bottom: 1px solid black;
    height: max-content;
}

.modalMessageWrapper div{
    display: flex;
    margin-top: .7rem;
}

.modalMessageWrapper div p:hover{
    color: rgb(237, 127, 127);
    cursor: pointer;
    width: max-content;
}

.notifiWrapper a{
    color: #f27373;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid black;
}

.notifiWrapper a:hover{
    color: #a70b0b;
}

/*
!Message Board Styling
*/

.msgBoardHeaderWrapper,
.notificationsSectionContainer, 
.sendMessageContainer{
    padding: 1rem;
}


.msgBoardHeaderWrapper p{
    font-size: 3rem;
}

.navbarIcon{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    cursor: pointer;
    color: black;
}

.navbarIcon:hover{
    color: white;
}

.messageContainer{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 1rem 2rem;
    column-gap: 2rem;
}

.sideBarWrapper{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: #a3b18a;
}

.composeButtonWrapper{
    width: 80%;
    align-self: center;
    margin-bottom: 1rem;
}

.composeButtonWrapper button{
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    column-gap: .5rem;
    height: 2rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.composeButtonWrapper button:hover{
    color: white;
    border-radius: 10rem;
}

.inboxBellContactWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inboxBellContactWrapper div{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    cursor: pointer;
    width: max-content;
}

.inboxBellContactWrapper div:hover{
    color: white;
}

.messageWrapper{
    border: 1px solid black;
}


.message{
    display: flex;
    width: 100%;
    column-gap: 4rem;
    padding: 0 3rem;
    position: relative;
    margin-top: 1rem;
    background-color: #a3b18a;
    cursor: pointer;
}

.message:hover{
    color: white;
}

.contactsContainer{
    display: none;
}

.showcontactsContainer{
    border: 1px solid rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    row-gap: .5rem;
    padding: .5rem;
    height: 5rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/* Show scrollbar on hover */
.showcontactsContainer:hover {
    overflow-y: scroll;
}

/* Optional: Add a smooth transition */
.showcontactsContainer {
    transition: overflow-y 0.3s ease-in-out;
}


.contactWrapper{
    display: flex;
    column-gap: .5rem;
    cursor: pointer;
    width: max-content;
}

.contactWrapper:hover{
    color: white;
}

/*
!Message Modal Style
*/

.msgModalMainContainer{
    position: fixed;
    transform: translate(-50% -50%);
    top: 28%;
    left: 22%;
    width: 75%;
    height: 70vh;
    background-color: rgb(163, 177, 138);
    display: flex;
    flex-direction: column;
}

.msgModalMainContainer p{
    position: absolute;
    right: 1rem;
    margin: 1rem 0;
    border: 1px solid black;
    cursor: pointer;
}

.msgModalMainContainer p:hover{
    color: red;
}

.readContainer{
    border: 2px solid black;
    margin-top: 3rem;
    height: 70%;
    padding: .5rem;
    display: grid;
    grid-template-columns: 15% 1fr;
    column-gap: 1rem;
}

.ButtonWrapper{
    display: flex;
    column-gap: 1rem;
    width: max-content;
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}

.ButtonWrapper button{
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    cursor: pointer;
    border: none;
}

.ButtonWrapper button:first-child {
    color: green;
    transition: all 400ms ease-in-out;
}

.ButtonWrapper button:first-child:hover{
    border-radius: 10rem;
    color: white;
    background-color: green;
}

.ButtonWrapper button:nth-child(2) {
    color: red;
    transition: all 400ms ease-in-out;
}

.ButtonWrapper button:nth-child(2):hover{
    border-radius: 10rem;
    color: white;
    background-color: red;
}

.senderPicAndNameWrapper{
    border: 1px solid green;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageWrapper{
    background-color: #d8f3dc;
    padding: .5rem;
}

.messageWrapper form{
    border: 1px solid black;
    margin-top: 1rem;
    height: 75%;
    position: relative;
}

.messageWrapper form textarea{
    width: 100%;
}

.sendButton{
    position: absolute;
    right: 9rem;
    bottom: .5rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;    
    align-items: center;
    column-gap: .5rem;
    cursor: pointer;
    background-color: green;
    transition: all 400ms ease-in-out;
}

.sendButton:hover{
    border-radius: 10rem;
    color: white;
}

.cancleButton{
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;    
    align-items: center;
    column-gap: .5rem;
    border: none;
    cursor: pointer;
    background-color: red;
    transition: all 400ms ease-in-out;
}

.cancleButton:hover{
    border-radius: 10rem;
    color: white;
}

.sentNotification{
    background-color: rgb(0, 0, 0, .8);
    position: fixed;
    transform: translate(-50% -50%);
    top: 50%;
    left: 50%;
    color: white;
    width: max-content;
    height: max-content;
}


