.mainContainer{
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    background-color: #f9f7f7;
    z-index: 99999;
    position: absolute;
    top: 46rem;
    right: 2rem;
}

.headerWrapper{
    padding-left: .5rem;
    border-bottom: 1px solid black;
}

.notifiWrapper a{
    color: #f27373;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid black;
}

.notifiWrapper a:hover{
    color: #a70b0b;
}

/*
!Message Board Styling
*/

.msgBoardHeaderWrapper,
.notificationsSectionContainer, 
.sendMessageContainer{
    padding: 1rem;
}


.msgBoardHeaderWrapper p{
    font-size: 3rem;
}

.notificationsSectionContainer{
    background-color: #95d5b2;
}

.notificationsSectionContainer h2,
.sendMessageContainer h2{
    margin: 1rem 0;
    text-align: center;
    color: white;
}

.sendMessageContainer{
    background-color: #1b4332;
    margin-top: .5rem;
}

.msgBoardFormWrapper{
    margin: 1rem 0;
}

.msgBoardFormWrapper form {
    display: flex;
    flex-direction: column;
}

.msgBoardFormWrapper form button{
    width: 7rem;
    height: 2rem;
    margin-top: .5rem;
    background-color: green;
    border: none;
    border-radius: 5%;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.msgBoardFormWrapper form button:hover{
    color: white;
    border-radius: 10rem;
    background-color: #3a5a40;
}

.recieverName {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.recieverName input{
    height: 2rem;
}

.recieverMainContainer{
    display: none;
}

.displayRecievers{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: max-content;
    border: 1px solid black;
}

.recieverWrapper{
    display: flex;
    align-items: center;
    margin: .5rem;
    column-gap: .5rem;
    cursor: pointer;
    width: max-content;
}

.recieverWrapper:hover{
    color: white;
}

.recieverButton{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    width: max-content;
}

.recieverButton:hover{
    color: white;
}