.mainContainer{
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    background-color: #f9f7f7;
    z-index: 99999;
    position: absolute;
    top: 46rem;
    right: 2rem;
}

.headerWrapper{
    padding-left: .5rem;
    border-bottom: 1px solid black;
}

.notifiWrapper a{
    color: #f27373;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid black;
}

.notifiWrapper a:hover{
    color: #a70b0b;
}

/*
!Message Board Styling
*/

.msgBoardHeaderWrapper,
.notificationsSectionContainer, 
.sendMessageContainer{
    padding: 1rem;
}


.msgBoardHeaderWrapper p{
    font-size: 3rem;
}

.navbarIcon{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    cursor: pointer;
    color: black;
}

.navbarIcon:hover{
    color: white;
}

.messageContainer{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 1rem 2rem;
    column-gap: 2rem;
}

.sideBarWrapper{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: #a3b18a;
}

.composeButtonWrapper{
    width: 80%;
    align-self: center;
    margin-bottom: 1rem;
}

.composeButtonWrapper button{
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    column-gap: .5rem;
    height: 2rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.composeButtonWrapper button:hover{
    color: white;
    border-radius: 10rem;
}

.inboxBellContactWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inboxBellContactWrapper div{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    cursor: pointer;
    width: max-content;
}

.inboxBellContactWrapper div:hover{
    color: white;
}

.messageWrapper{
    border: 1px solid black;
}

.message{
    display: flex;
    width: 100%;
    border: 1px solid red;
    column-gap: 4rem;
    padding: 0 3rem;
    position: relative;
    margin-top: 1rem;
}

.message :nth-child(2){
    display: flex;
    width: 70%;
    right: 4rem;
}

.contactsContainer{
    display: none;
}

.showcontactsContainer{
    border: 1px solid rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    row-gap: .5rem;
    padding: .5rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.contactWrapper{
    display: flex;
    column-gap: .5rem;
    cursor: pointer;
    width: max-content;
}

.contactWrapper:hover{
    color: white;
}




