.mainContainer{
    padding: 2rem;
    margin-top: -4rem;
}

.pageHeader{
    text-align: center;
    margin-top: 1rem;
    height: 10rem;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(186, 138, 33) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationWrapper{
    display: flex;
    justify-content: flex-end;
}

.paginationWrapper li{
    list-style: none;
    margin: .5rem .5rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    color:white;
    cursor: pointer;
}

.paginationWrapper li:hover{
    color: black;
}

.booksContainer{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booksWrapper{
    border: .5px solid black;
    margin: 1rem;
    display: flex;
    column-gap: 1rem;
    background-color: #22c1c3;
    padding-right: .5rem;
}

.bookTitleWrapper p{
    font-size: 1.5rem;

}

.bookTitleWrapper p span,
.bookTitleWrapper p small{
    color: white
}

.bookdiscriptionWrapper{
    font-size: 1.2rem;
    margin-top: .5rem;
}


@media(500px <= width <= 765px) {
    .bookTitleWrapper p {
        font-size: 1rem;
        font-weight: bold;
    }

    .bookdiscriptionWrapper p{
        font-size: 1rem;
    }

    .booksWrapper{
        max-height: 20rem;
    }

    .pageHeader h1{
        font-size: 2rem;
    }

    .bookTitleWrapper p small{
        font-size: .9rem;
        margin-left: .5rem;
    }

    .bookTitleWrapper p span{
        font-size: .9rem;
        margin-left: .5rem;
    }

    .bookdiscriptionWrapper{
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 10rem;
    }

    .bookImageWrapper img{
        width: 10rem;
        height: 15rem;

    }
}

@media(200px <= width <= 500px) {
    .bookTitleWrapper p {
        font-size: .7rem;
        font-weight: bold;
    }

    .bookdiscriptionWrapper p{
        font-size: .7rem;
    }

    .booksWrapper{
        max-height: 20rem;
    }

    .pageHeader h1{
        font-size: 1.5rem;
    }

    .bookTitleWrapper p {
        display: flex;
        flex-direction: column;
    }

    .bookTitleWrapper p small{
        font-size: .7rem;
        margin-left: .5rem;
    }

    .bookTitleWrapper p span{
        font-size: .7rem;
        margin-left: .5rem;
    }

    .bookdiscriptionWrapper{
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 10rem;
    }

    .bookImageWrapper img{
        width: 10rem;
        height: 15rem;

    }

}

@media(300px <= width <= 350px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .booksWrapper{
        width: 100%;
        align-self: center;
    }
}

