.postMainContainer{
    display: grid;
    grid-template-columns: 20% 55% 23%;
    margin-top: 1.5rem;
    padding: 0 1rem;
    column-gap: 1rem;
}

.postSideContainer{
    background-color: #168aad;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem .5rem;
    row-gap: 1rem;
    height: 16rem;
}

.postSideContainer p{
    font-size: 1.2rem;
    font-weight: bold;
}

.rightSideContainer{
    background-color: #168aad;
    height: max-content;
}

.postSideContainer p:hover,
.rightSideContainer p:hover{
    color: white;
    cursor: pointer;
}

.postContainer{
    overflow-Y: hidden;
    height: 100Vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.postContainer:hover{
    overflow-y: scroll;
}

.peopleYouMayKnowWrapper{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.contactsWrapper{
    display: flex;
    justify-content: space-between;
}

.followingPost{
    height: 43%;
    display: flex;
    column-gap: 1rem;
    width: 100%;
    background-color: rgb(198, 197, 197);
    border: 1px solid rgb(0, 0, 0);
}

.followingWrapper{
    width: 40rem;
    overflow: hidden;
    cursor: pointer;
    padding: .5rem;
}

.followingWrapper img{
    border-radius: 1rem;
}

.followingWrapper img:hover{
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

.followingHomePageImage{
    border-radius: 1rem;
    border: 1px solid black;
    cursor: pointer;
    width: 40%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 900ms ease-in-out;
}

.followingHomePageImage:hover{
    transform: scale(1.01);
    transition: all 300ms ease-in-out;
}

.scrollIconLeft{
    background-color: rgb(22, 138, 173, .9);
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    display: flex;
    justify-content: space-between;
    left: .2rem;
    padding: 0 .5rem;
    z-index: 9999;
    opacity: .5;

}
.scrollIconRight{
    background-color: rgb(22, 138, 173, .9);
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    display: flex;
    justify-content: space-between;
    right: .2rem;
    padding: 0 .5rem;
    z-index: 9999;
    opacity: .5;
}

.scrollIconLeft:hover,
.scrollIconRight:hover{
    color: white;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    opacity: 1;
}

.postImageWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: .2rem 0 .2rem  .2rem;
    overflow: hidden;
    position: relative;
}

.usernameWrapper{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgb(0, 0, 0, .7);
    padding: .5rem;
    border-radius: 1rem;
}

.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    padding: .5rem 0;
    margin-top: 1rem;
}

.inputWrapper input{
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
}

.postWrapper{
    display: flex;
    flex-direction: column;
}

.postFormWrapper{
    width: 90%;
    align-self: center;
    margin-top: 1rem;
    background-color: rgb(22, 138, 173, .5);
    border-radius: 1rem;
}

.postFormWrapper form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.postItSelf{
    align-self: center;
    width: 90%;
    height: max-content;
    margin-top: 1rem;
}

.addImageButton{
    align-self: center;
    display: flex;
    column-gap: 1rem;
    width: max-content;
    justify-content: center;
    border-top: 1px solid black;
    width: 90%;
    padding-top: .5rem;
}

.addImageButton label{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: max-content;
    background-color: #0a4051;
    margin-bottom: .5rem;
    color: white;
    border-radius: 1rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
}

.addImageButton label:hover{
    background-color: #168aad;
    color: black;
    transition: all 300ms ease-in-out;
}

.postBttn{
    bottom: .5rem;
    right: .5rem;
    width: max-content;
    height: 2.5rem;
    background-color: #0a4051;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.postBttn:hover{
    background-color: #168aad;
    color: black;
    transition: all 300ms ease-in-out;
}

.canscelPostBttn{
    bottom: .5rem;
    right: .5rem;
    width: max-content;
    height: 2.5rem;
    background-color: #0a4051;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem; 
}

.canscelPostBttn:hover{
    color: black;
    background-color: red;
    transition: all 300ms ease-in-out;
}

.postProfilePicWrapper{
    position: absolute;
    top: .3rem;
    left: .3rem;
}
