.reviewerRequestModal{
    padding: 2rem;
    background-color: rgb(22, 138, 173, .7);
}

.reviewerHeaderWrapper{
    text-align: center;
}

.reviewerHeaderWrapper h1{
    font-size: 3rem;
}

.reviewerHeaderWrapper p{
    font-size: 1.2rem;
}

.formContainer{
    margin-top: 4rem;
}

.aggContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ageWrapper{
    display: flex;
    width: max-content;
}

.ageWrapper input{
    cursor: pointer;
}

.ageWrapper p{
    margin-left: -3rem;
}

.buttonWrapper{
    position: relative;
}

.buttonWrapper button{
    width: 8rem;
    height: 2rem;
    background-color: rgb(24, 78, 119);
    color: white;
    border: none;
    right: 1rem;
    cursor: pointer;
    border-radius: .2rem;
    position: absolute;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.buttonWrapper button:hover{
    color: black;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}