.userNameContainer{
    display: flex;
    flex-direction: column;
    background-color: #457b9d;
    margin-top: 1rem;
    padding: .7rem 2rem;
}

.usernameWrapper{
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.secondHeaderContainer{
    background-color: #a8dadc;
    display: flex;
    padding: 0 2rem;
    column-gap: 1rem;
    height: 3rem;
    align-items: center;
}

.shelvesWrapper{
    display: flex;
    border-left: 1px solid black;
    margin: 0 1rem;
    padding-left: .5rem;
    height: 100%;
    align-items: center;
}

.completedInProgressForLaterWrapper{
    display: flex;
    padding-left: .5rem;
    height: 100%;
    align-items: center;
    border-left: 1px solid black;
    margin-left: .5rem;
    column-gap: 1rem;
}

.completedInProgressForLaterWrapper p:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16rem;
    row-gap: .5rem;
}

.mainContainer button{
    width: 8rem;
    height: 2rem;
    background-color: rgb(24, 78, 119);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer button:hover{
    color: black;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.backpageArrow{
    color: black
}

.backpageArrow:hover{
    color: white;
}

.deletingBookMessage {
    color: red;
    font-size: 10rem;
    z-index: 9999;
    position: fixed;
    transform: translate(60%, 60%); 
    top: 50%;
    bottom: 50%;
    background-color: #8baec4;
    height: max-content;
}


/*
!Search Modal Style
*/
.modalMainContainer{
    background-color: rgb(69, 123, 157);
    width: 10%; 
    height: 10%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-in-out;
    animation: openModal 1s ease-in-out  1 normal forwards;
}

@keyframes openModal {
    0%{width: 2rem; border-radius: 50% }
    100%{width: 100%; height:100vh; border-radius: 0;}
}

.closeModalX {
    float: right;
    margin-right: .5rem;
    margin-top: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    padding: .5rem;
    font-size: 3rem;
    opacity: 0;
    transition: all 800ms ease-in-out;
    animation: openSearch 1s ease-in-out 1s  1 normal forwards;
}

.closeModalX:hover{
    color: red;
    background-color: #8baec4;
    border: none;
}

.searchContainer{
    border: 1px solid rgb(12, 13, 13);
    width: 70%;
    margin-left: 12rem;
    margin-top: 2rem;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 1rem;
    opacity: 0;
    animation: openSearch 1s ease-in-out 1s  1 normal forwards;
}

@keyframes openSearch {
    0%{opacity: 0;}
    100%{opacity: 1}
}

.searchContainer form{
    display: flex;
}

.searchContainer form input {
    height: 4rem;
    width: 100%;
}

.searchIconWrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.searchIconWrapper button{
    height: 4rem;
    cursor: pointer;
}

.searchIconWrapper button:hover{
    color: white;
    background-color: #457b9d;
    border: none;
}

.booksContainer{
    display: flex;
    flex-direction: column;
    margin-top: .2rem;
    row-gap: 1rem;
}

.booksWrapperWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: .5rem .5rem;
}

.bookWrapper{
    display: flex;
    column-gap: .5rem;
}

.goToShelfButtonWrapper p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 7rem;
    column-gap: .4rem;
    transition: all 500ms ease-in-out;
}

.addToWrapper p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 5rem;
    transition: all 500ms ease-in-out;
}

.addToWrapper p:hover,
.goToShelfButtonWrapper p:hover{
    color: white;
    cursor: pointer;
    border: 1px solid white;
}

.pageNumberWrapper{
    display: flex;
    column-gap: .5rem;
    justify-content: flex-end;
}

.pageNumberWrapper li{
    list-style: none;
    cursor: pointer;
    border: 1px solid black;
    width: 1rem;
    display: flex;
    justify-content: center;
}

.addedBooksShelfMainContainer{
    display:flex;
    flex-direction: column;
    padding: .5rem 1rem;
}

.addBookShelfButtonWrapper{
    border-bottom: 1px solid black;
    padding: .5rem 0 ;
}

.addBookShelfButtonWrapper button{
    width: 8rem;
    height: 2rem;
    background-color: rgb(24, 78, 119);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBookShelfButtonWrapper button:hover{
    color: black;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.shelfContainer{
    display: grid;
    grid-template-columns: 20% 1fr;
    column-gap: 10rem;
    margin-top: 1rem;
    padding: 0 1rem;
}

.shelfContainer p{
    font-size: 1.5rem;
    font-weight: bold;
}

.shelfWrapper{
    border: .5px solid black;
}

.sortWrapper{
    padding: .5rem 1rem;
}

.booksOnShelfWrapper{
    background-color:#ced4da ;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    padding: 1rem;
    row-gap: 1rem;
    height: 24rem;
    overflow: scroll;
    scroll-behavior: smooth;
}

.manageBook{
    display: none;
}

.showmanagevisible {
    display: block;
}

.showmanagevisible ul li{
    flex-direction: column;
    transition: all 500ms ease-in-out;
}

.manageButtonWrapper ul{
    z-index: 999;
    margin-bottom: -5rem;
    list-style: none;
    background-color: #457b9d;
    height: 6.5rem;
}

.manageButtonWrapper ul li{
    margin: .4rem .5rem;
}

.manageButtonWrapper ul li:hover{
    color: white;
    cursor: pointer;
}

.shelfBooksWrapper{
    display: flex;
    align-items: center;
    padding: .5rem  ;
    background-color: white;
    justify-content: space-between;
    position: relative;
}

.manageButtonWrapper{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 10rem;
}

.deleteButton{
    border: none;
    padding: 0 .5rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    background-color: red;
}

.deleteButtonWrapper{
    position: absolute;
    bottom: .3rem;
    right: .5rem;
}

.manageListWrapperButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.placeHoldButton{
    background-color: green;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.placeHoldButton:hover{
    color: white;
}

.radioContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    row-gap: .5rem;
}

.radioContainer label{
    display: flex;
    column-gap: .3rem;
}

.radioContainer label input{
    cursor: pointer;
}

.filterByAuthorAndGenreContainer{
    display: flex;
    flex-direction: column;
}

.byAuthorWrapper{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: .5rem 0;
}

.byAuthorWrapper p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.byGenreWrapper{
    border-bottom: 1px solid black;
    padding: .5rem 0;
}

.byGenreWrapper p{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    cursor: pointer;
}

.authorWrapper,
.genereWrapper{
    display: none;
}

.showAuthorWrapper{
    display: block;
    animation: showFilter 500ms ease-in-out 1 normal forwards;
}

.showGenreWrapper{
    display: block;
    animation: showFilter 500ms ease-in-out 1 normal forwards;
}

@keyframes showFilter {
    0%{margin-top:-1rem; opacity: 0;}
    100%{marign-top: 0; opacity: 1;}
}

.successfullyAdded {
    font-size: 2rem;
    color: blue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 1rem;
}

.userErrorMessage{
    font-size: 2rem;
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 1rem;
}
