.mainContainer{
    display: flex;
    flex-direction: column;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #168aad;
    margin-top: .5rem;
    padding: .5rem .5rem;
}

.searchWrapper{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.searchWrapper label{
    display: flex;
    align-items: center;
    background-color: white;
    width: 14rem;
    height: max-content;
    padding: .5rem;
    border-radius: 1rem;
}

.searchWrapper label input{
    border: none;
    width: 100%;
    height: 1.5rem;
    margin-left: .5rem;
}

.homeVideoGroupIconWrapper{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: -11rem;
    color: white;
    cursor: pointer;
}

.homeVideoGroupIconWrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeVideoGroupIconWrapper ul,
.menuMessageBellAndUserWrapper ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.homeVideoGroupIconWrapper ul li,
.menuMessageBellAndUserWrapper ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeVideoGroupIconWrapper ul li .homeWrapper,
.homeVideoGroupIconWrapper ul li .videoWrapper,
.homeVideoGroupIconWrapper ul li .groupWrapper{
    display: none;
    z-index: 99;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2.4rem;
    padding: .5rem;
}

.menuMessageBellAndUserWrapper ul li .menuWrapper,
.menuMessageBellAndUserWrapper ul li .messangerWrapper,
.menuMessageBellAndUserWrapper ul li .notificationsWrapper{
    display: none;
    z-index: 99;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2.8rem;
    padding: .5rem;
}

.homeVideoGroupIconWrapper ul li:hover .homeIcons + .homeWrapper,
.homeVideoGroupIconWrapper ul li:hover .videoIcons + .videoWrapper,
.homeVideoGroupIconWrapper ul li:hover .gorupIcons + .groupWrapper,
.menuMessageBellAndUserWrapper ul li:hover .menuIcons + .menuWrapper,
.menuMessageBellAndUserWrapper ul li:hover .messangerIcons + .messangerWrapper,
.menuMessageBellAndUserWrapper ul li:hover .notificationsIcons + .notificationsWrapper {
    display: block;
    z-index: 9999;
}


.menuMessageBellAndUserWrapper{
    color: white;
    width: 10rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.menuMessageBellAndUserWrapper .menuIcons,
.menuMessageBellAndUserWrapper .messangerIcons,
.menuMessageBellAndUserWrapper .notificationsIcons{
    background-color: #0b5569;
    border-radius: 50%;
    padding: .5rem;
}

.homeIcons:hover,
.videoIcons:hover,
.gorupIcons:hover,
.menuIcons:hover,
.messangerIcons:hover,
.notificationsIcons:hover{
    color: #720026;
}

.socialContainer{
    display: grid;
    grid-template-columns: 20% 40% 20%;
    padding: 0 .5rem;
}