:root{
    --primary: #0077b6;
    --secondery: #a5a58d;
    --buttons: rgb(8 95 87);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem .2rem 1rem;
    background-color: #0077b6;
    margin-bottom: .5rem;
}

.nameWrapper{
    display: flex;
    font-size: 2rem;
    color: var(--secondery);
    margin: auto;
    column-gap: 1rem;
    position: relative;
}


.links{
    background-color: var(--buttons);
    border-radius: 1rem;
    margin-top: 3rem;
    display: flex;
}

.mainContainer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 1rem;
}

.mainContainer ul li{
    font-size: 1.5rem;
    color: black;
    list-style: none;
}

.mainContainer ul li:hover{
    color: white;
    transform: scale(1.1);
    transition: transform 400ms ease-in-out;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    width: 5rem;
    border-radius: 20%;
    transform: rotate(45deg);
    animation: spin 15s ease-in-out 1s infinite normal;
    transition: transform 0.3s ease; /* Add a smooth transition to the transform property */
}

@keyframes spin {
    0% { transform: rotate(45deg) rotateY(0deg); }
    100% { transform: rotate(45deg) rotateY(360deg); }
}


.logo {
    animation: continuousSpin 10s linear infinite;
    transition: transform 0.3s ease; /* Add a smooth transition to the transform property */
}


@keyframes continuousSpin {
    0% { transform: rotate(-20deg) rotateX(0deg); }
    100% { transform: rotate(-20deg) rotateX(360deg); }
}


.shadow {
    width: 5rem;
    height: 5rem;
    background-color: #33383c;
    transform: rotateX(95deg);
    box-shadow: 0 0 10px 10px rgba(0, 0.5, 0.5, 0.5); 
    top: 4rem;
    border-radius: 40%;
    position: absolute;
    animation: shadowspin 5s ease-in-out 500ms infinite;
    transition: transform 0.3s ease;
}

@keyframes shadowspin {
    0% { transform:  rotateX(95deg) scaleY(-2); }
    100% { transform: rotateX(95deg) scaleY(2); }
}

.userWrapper {
    margin-top: .5rem;
    display: flex;
    justify-content: end;
    column-gap: .5rem;
    padding: 0 2em;
    font-size: 1.5rem;
    cursor: pointer;
}

.user{
    color: black;
}

.user:hover{
    color: white;
}

.logInWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;

}

.logInWrapper button{
    background-color: #0077b6;
    border: none;
    width: 4rem;
    height: 1rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;

}









